PORT=your_port_here
MONGO_URI=your_mongo_uri_here
BASE_URL=your_base_url_here
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
ACCESS_TOKEN_EXPIRES_IN=time_in_minutes_or_seconds
REFRESH_TOKEN_EXPIRES_IN=time_in_minutes_or_seconds

API_GATEWAY_URL=your_api_gateway_url_here